body {
    background-color:rgb(245, 245, 245);
}

.nav-custom {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 3px 3px #9798aa57;
}

.btn-nav-flex-container {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.nav-link {
    color: #202E5F;
    text-decoration: none; 
    position: relative;
}
.nav-link:hover{
    color: #CEA967;
}

img.logo {
    height: 75px;
    width: 190px;
}

.btn {
    border-radius: 24px;
    background-color: #202E5F;
    border: none;
    color: white;
}
footer{
    background-color:#9798aa;
    color: #202E5F;
}
svg{
    text-align: center;
}
.bottom{
    text-align: bottom;
}
.footer-custom{
    color: #202E5F;
}
.footer-custom:hover{
    color: #CEA967;
}
.custom-header{
    text-align: center;
    color: #CEA967;
    font-size: 45px;
}
#circle-pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#demo-pic{
    height: 300px;
    width: 400px;
}

#home-cover-background {
    filter: brightness(50%);
}

#home-nav {
    color: white;
}
.background{
    background: rgb(243,234,216);
background: linear-gradient(0deg, rgba(243,234,216,1) 4%, rgba(222,192,137,1) 43%, rgba(246,239,226,1) 100%);

}
#circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: navy;
  }
  .circle{
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
  }
  #sname {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #CEA967;
}

#sname a {
    font-weight: bold;
    font-size: 40px;
    transition:500ms;
    color: #CEA967;
}
    
#sname a:hover {
    font-size:60px;
    position: relative;
    font-size-adjust: 30px;
    color:#7b7fcc57
}
#sname a:hover:after {
    content: url(image/circle.PNG); /* no need for qoutes */
    display: circle;
    position: absolute;
    left: 123px; /* change this value to one that suits you */
    top: 56px; /* change this value to one that suits you */
}
#hoversol {
    display: none;
    transition-duration: 7ms;
    left: 232px;
}
    
a:hover + #hoversol {
    display: block;
}
.btnp {
    transition: transform 250ms;
  }
  
  .btnp:hover {
    transform: translateY(-20px);

  }
  .btnp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    background: rgb(243,234,216);
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
  }
  .zoom-in {
    margin: 20px;
    width: 400px;
    height: 400px;
    animation: zoom-in 4s ;
    animation-fill-mode: forwards;
  }
  
  @keyframes zoom-in {
    100% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
    
  }
  .card{
    width: 600px;
    height: 200px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 3px 3px #9798aa57;
  }