body {
    background-color:rgb(245, 245, 245);
    
}

/*styling for navbar*/
.nav-custom {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 3px 3px #9798aa57;
}

.btn-nav-flex-container {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.nav-link {
    color: #202E5F;
    text-decoration: none; 
    position: relative;
}

.nav-link:hover{
    color: #CEA967;
}

.activep {
    color: #CEA967;
}

img.logo {
    height: 75px;
    width: 190px;
}

#home-nav {
    color: white;
}
/*end of styling for navbar*/

/*styling for contact button*/
.btn-contact {
    border-radius: 24px;
    background-color: #202E5F;
    border: none;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-contact:hover {
    background-color: #9798aa57;
    color: #CEA967;
}
/*end of styling for contact button*/

/*styling for footer*/
footer{
    background-color:#9798aa;
    color: #202E5F;
}

svg{
    text-align: center;
}

.bottom{
    text-align: bottom;
}

.footer-custom{
    color: #202E5F;
}

.footer-custom:hover{
    color: #CEA967;
}
/*end of styling for footer*/

.custom-header{
    text-align: center;
    color: #CEA967;
    font-size: 45px;
}

#circle-pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#demo-pic{
    height: 300px;
    width: 400px;
}

#home-cover-background {
    filter: brightness(50%);
}




#circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: navy;
}
.btnp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    background: #323857;
    color: white ;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    
    transition: transform 255ms;
}

.btnp:hover {
        transform: translateY(-20px);
}

.circle{
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
}
.whycard{
    width: 600px;
    height: 200px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 3px 3px #9798aa57;
}
#why-us-pic{
    height: 400px;
    width: 750px;
}

/*styling for contact-us page*/
.pinpoint {
    width: 70px;
    height: 70px;
}

#contact-para-1 {
    color:#202E5F;
    font-size: 24px;
}

#contact-header {
    color: #202E5F;
}
/*end of styling for contact-us page*/

/*styling for card on home page*/
#rectangle {
    width: 100%;

    background: rgb(245, 245, 245);
    box-shadow: 0px 4px 4px #9798aa57;

    text-align: center;
}

.rect-title {
    font-size: 28px;
    color:#202E5F;
}

.rect-text {
    font-size: 28px;
    color: #9798aa;
}
/*end of styling for card on home page*/
 
/*styling for your-first-visit page*/
#big-numbers {
    
    font-weight: 800;
    font-size: 150px;
    line-height: 182px;
    text-align: center;

    color: #202E5F;
    font-variation-settings: 'slnt' 0;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#arrow {
    transform: rotate(90deg);
    height: 100px;
    width: 100px;
}

.btn-schedule {
    background-color:#202E5F;
    color: white;
    border-radius: 50px;
    font-size: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#phone {
    width: 70px;
    height: 70px;
}

#information-to-gather {
    text-align: left;
}
/*styling for your-first-visit page*/

/*styling for accordions*/
.collapse-able {
    height: 1.2rem;
    overflow: hidden;
}

.collapse-able:active, .collapse-able:hover {
    height: auto;
}

button.accordion-button {
    background-color: #CEA967 !important;
    color: white !important;
}

button.accordion-button.collapsed::after {
    color: white !important;
    border-color: #CEA967;
}

div.accordion-body {
    background-color: #CEA967;
    color: white;
}
/*end of styling for accordions*/

#nancy{
    height: 500px;
    width: 500px;
}
.btn-lg{
    width: 200px;

}
.caption {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*styling for testimonial card on home page*/
.testimonial-card {
    border-radius: 10px;
    box-shadow: 0px 3px 3px #9798aa57;
}
/*end of styling for testimonial card on home page*/