body {
    background-color:rgb(245, 245, 245);
}

.nav-custom {
    background-color:#9798aa;
}

.btn-nav-flex-container {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.nav-link {
    color: #202E5F;
    text-decoration: none; 
    position: relative;
}
.nav-link:hover{
    color: #CEA967;
}

img.logo {
    height: 75px;
    width: 190px;
}

.btn {
    border-radius: 24px;
    background-color: #202E5F;
    border: none;
    color: white;
}
footer{
    background-color:#9798aa;
    color: #202E5F;
}
svg{
    text-align: center;
}
.bottom{
    text-align: bottom;
}
.footer-custom{
    color: #202E5F;
}
.footer-custom:hover{
    color: #CEA967;
}
.custom-header{
    text-align: center;
    color: #CEA967;
    font-size: 50px;
}
#circle-pic{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

#demo-pic{
    height: 300px;
    width: 400px;
}

#home-cover-background {
    filter: brightness(70%);
}

